<div style="display: flex; flex-direction: column;flex-wrap: wrap;width: 100%;">
    <div class="black">
        <div>
            <h2>E-comm</h2>
            <p>Thank you for shopping with us!</p>
            <p>We are committed to bringing you the best deals and fastest delivery.</p>
        </div>
        <div>
            <h2>Quick links</h2>
            <a routerLink="/home">home</a>
            <br>
            <a routerLink="/shop">shop</a>
            <br>
            <a routerLink="/about">about</a>
            <br>
            <a routerLink="/contact">contact</a>
        </div>
        <div>
            <h2>Follow us</h2>
            <i class='bx bxl-facebook-square' ></i>
            <i class='bx bxl-instagram-alt' ></i>
            <i class='bx bxl-twitter' ></i>
            <i class='bx bxl-linkedin-square' ></i>
        </div>
    </div>
    <div style="background-color: #5c6bc0; display: flex; justify-content: space-between; padding: 0.5rem;flex-wrap: wrap;">
        <p>© 2025 E-comm. All rights reserved.</p>
        <p>Secure payments | Fast delivery | Easy returns</p>
    </div>
    
</div>