.orders-container {
    padding: 20px;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .orders-table th,
  .orders-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    text-align: center;
  }
  
  .orders-table img {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 4px;
  }