<div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    @for(num of scelly_arr;track num){
        <div style="height:23rem; width:14rem; border-radius:1rem; padding:1rem; margin:2.5rem; box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
            <div style="display: flex; justify-content: center; text-align: center;">
                <div class="skeleton" style="height:200px; width:200px; border-radius: 0.5rem;"></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; text-align: center; position: relative;">
                <div class="skeleton" style="height: 1rem; width: 80%; margin: 0.5rem auto;"></div>
                <div class="skeleton" style="height: 1rem; width: 40%; margin: 0.5rem auto;"></div>
                <div class="skeleton" style="height: 1rem; width: 60%; margin: 0.5rem auto;"></div>
                <div class="skeleton" style="height: 1rem; width: 50%; margin: 0.5rem auto;"></div>
                <div class="skeleton" style="height: 2rem; width: 12rem; margin: 1rem auto; border-radius: 0.5rem;"></div>
            </div>
        </div>
    }
</div>