.card img:hover{
    transition: all 0.2s ease-out;
    scale: 1.1;
}
.card:hover{
    cursor: pointer;
}
#shop_now{
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
}

#shop_now:hover{
    transition: all 0.5s ease-in-out;
    background-color: #5c6bc0;
    color: white;
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}
.out_of_stock{
    opacity: 0.5;
}

.ngx-slider-pointer {
  width: 10px !important;
  height: 10px !important;
  top: -5px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
}
.ngx-slider-pointer::after {
  display: none !important;
}